@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *)) {
}

@theme {
  --color-burnt-yellow: #f5ba13;
  --shadow-btn: 0 1px 3px rgba(0, 0, 0, 0.3);
  --shadow-form: 0 1px 5px rgb(138, 137, 137);
  --shadow-header: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  --shadow-note: 0 2px 5px #ccc;
}

@layer base {
  html {
    @apply text-base box-border font-[Montserrat];
  }
  *,
  *::before,
  *::after {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-[url("https://transparenttextures.com/patterns/notebook-dark.png")] dark:bg-[#a0a0ab];
  }
  h1 {
    @apply text-white font-extralight font-[Mclaren] text-3xl md:text-5xl;
  }
  p {
    @apply text-[#666];
  }
}
@layer components {
  header {
    @apply bg-burnt-yellow shadow-header flex justify-between items-center pt-4 pb-4 pr-2 pl-2 sm:p-8 md:p-16;
  }
  footer {
    @apply absolute text-center top-200 w-full  text-black;
  }
  form {
    @apply bg-amber-50 w-95 mt-7.5 mr-auto mb-6 ml-auto p-2.5 rounded-lg sm:w-150 dark:bg-[#0a1f44] dark:text-white;
  }
}

@utility note {
  @apply bg-amber-50 w-70 p-3.5 rounded-lg m-8 shadow-note text-lg sm:text-2xl sm:w-100;
}

@utility note-btn {
  @apply text-burnt-yellow text-3xl cursor-pointer dark:text-white;
}
@utility btn {
  @apply absolute float-right -bottom-6;
}

@utility form-group {
  @apply w-full border-none outline-none text-lg resize-none capitalize;
}
